{%extends 'fom/base.html'%}
{% block content %}
<h1> Frasha Santo simple Authenication System</h1>
<p>we Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque possimus fuga, explicabo inventore aliquam aut
    accusamus eos vel voluptatem odio hic? Possimus atque repellat nesciunt delectus quisquam non, asperiores ea.</p>
<a href="{% url 'signup' %}"><button class="btn btn-secondary">SignUp</button></a>
<a href="{% url 'signin' %}"><button class="btn btn-secondary">Sign in</button></a>

{% endblock %}