{% extends 'fom/base.html'%}
{% block content %}
<div class="description">
    <div class="container">
      <h1>Welcome My Website</h1>
      <p>We offer tech support, in our company, be free to visit our Youtube channel. We got videos there that are of great use to the people who want to learn the Linux operating System, How to improve your skills and tips in your career as an IT Major</p>
      <div class="link-buttons">
        
        <button type="button">WATCH MORE</button>
        
        <button type="button">SUBSCRIBE</button>
    </div>
    </div>
  </div>
  <p>Thanks for visiting our website.☺️<small class="text-muted">To logout press the button below</small></p>
  
  <button class="btn btn-outline-info"><a  href="/signout">logout</a></button>

{%endblock%}